main {
  margin-bottom: 6rem;
}

.register__title {
  margin-inline: 2rem;
  padding-top: 2.6rem;

  text-align: start;
  font-size: 3rem;
}

.inline__group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  max-width: 100%;
}

.forms {
  max-width: 90rem;
  margin-inline: 2rem;
  margin-top: 2rem;

  text-align: start;
  font-size: 1.4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forms__content {
  width: 80%;
}

.forms label {
  min-width: 10rem;
  margin-block: auto;
}

.forms input {
  max-width: 100%;
  min-height: 3.2rem;
}

.forms button {
  height: fit-content;
  
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-block-start: auto;

  padding-inline: 4rem;
  padding-block: .6rem
  ;
  font-size: 1.3rem;
}

.input-cep {
  width: 45%;
}

.label__complement {
  margin-left: 2rem;
}

.label__uf {
  margin-left: 1rem;
}

.input-n {
  max-width: 55%;
  flex-wrap: nowrap;
}

.input-city {
  min-width: 60%;
}

.input-uf{
  min-width: 20%;
  flex-wrap: nowrap;
}

@media (max-width: 1245px) {
  .forms {
    display: block;
  }
  .forms__content {
    width: 100%;
  }
}

@media (max-width: 910px) {
  .inline__group {
    flex-direction: column;
  }
  .label__complement,
  .label__uf {
    margin-left: 0;
  }
  .forms button {
    margin-bottom: 6rem;
  }
  .forms input {
    min-width: fit-content;
  }
  .input-cep {
    width: 100%;
  }

  .input-n,
  .input-uf {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
